body {
  background-color: 'yellow';
}

/* Navigation bar CSS*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  padding: 0.5%;
  margin-left: 0.5%;
}

li :hover {
  background-color: green;
  cursor: pointer;
}

a {
    color: #607D8B;
    text-decoration: none;
    background-color: transparent;
    font-size: 23px;
}

a:hover {
    color: #FFEB3B;
    text-decoration: none;
}
